<div class="container mb-3">
  <div class="row mt-3">
    <div class="col">
      <mat-card>
        <mat-card-title>
          Chart Configuration
        </mat-card-title>
        <mat-card-content>
          <section class="config-section">
            <mat-form-field class="config-margin">
              <input matInput type="number" placeholder="Lines" [min]="1" [max]="10" [(ngModel)]="lineCount">
            </mat-form-field>
            <mat-form-field class="config-margin">
              <input matInput type="number" placeholder="Points" [(ngModel)]="pointCount">
            </mat-form-field>
          </section>
          <section class="config-section">
              <mat-checkbox class="config-margin" [(ngModel)]="randomLineCount">Randomize line count</mat-checkbox>
              <mat-checkbox class="config-margin" [(ngModel)]="randomPointCount">Randomize point count</mat-checkbox>
          </section>
          <section class="config-section">
              <mat-checkbox class="config-margin" [(ngModel)]="binned">Binned</mat-checkbox>
              <mat-form-field class="config-margin" *ngIf="binned">
                <input matInput type="number" placeholder="Bins" [(ngModel)]="binCount">
              </mat-form-field>
              <mat-checkbox class="config-margin" *ngIf="binned" [(ngModel)]="frequency">Frequency</mat-checkbox>
          </section>
          <section class="config-section">
              <button class="config-margin" mat-raised-button (click)="refreshData()">Refresh</button>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <mat-card>
        <mat-card-title>
          Multi Series Line Chart
        </mat-card-title>
        <mat-card-content>
            <ms-line-chart [dataset]="series" [frequency]="frequency" [binned]="binned" [binCount]="binCount"></ms-line-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>