/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: #eee;
}

path.ms-color-0 { stroke: green; }
path.ms-color-1 { stroke: blue; }
path.ms-color-2 { stroke: red; }
path.ms-color-3 { stroke: purple; }
path.ms-color-4 { stroke: yellow; }
path.ms-color-5 { stroke: pink; }
path.ms-color-6 { stroke: chocolate; }
path.ms-color-7 { stroke: orange; }
path.ms-color-8 { stroke: navy; }
path.ms-color-9 { stroke: chartreuse; }